// Define variables for your color scheme

$violet: #565193;
$violet-clair: #F2F1FF;

$bleu: #366198;
$bleu-clair: #CDE2FD;

$orange: #FF6B37;
$orange-clair: #FFE0D4;

$vert: #459D53;
$vert-clair: #BDF5C6;

$gris: #616161;
$gris-clair: #E0E0E0;

$blanc: #FFFFFF;
