<div class="container-xl captain-navbar flex justify-between items-center">

  <div class="d-flex">
    <div>
      <%= image_tag "logo.png", alt: "Captain Cause", width: 105, height: 42 %>
    </div>
    <div class="flex items-center">
      <div class="flex text-sm mx-2">
        <%= image_tag "icons/home.png", alt: "Home", width: 18, class:"icon mr-1" %>
        Accueil
      </div>

      <div class="flex text-sm mx-2 btn-violet p-2">
        <%= image_tag "icons/circle.png", alt: "Opérations", width: 18, class:"icon mr-1" %>
        Opérations
      </div>

      <div class="flex text-sm mx-2">
        <%= image_tag "icons/agenda.png", alt: "Projets", width: 18, class:"icon mr-1" %>
        Projets
      </div>
    </div>
  </div>
  
  <div class="text-sm">
    Nathanael Romano
  </div>

</div>