<div class="bg-violet p-4">

  <div class="container-small mx-auto bg-white rounded-sm p-4">

    <h1 class="text-center">Ajouter une opération</h1>

    <%= render "form", operation: @operation %>
  </div>

</div>